@import './_variables.scss';
@import './mixins.scss';

/********** REGLES GENERALES **********/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset du font-size pour pouvoir mieux le contrôller */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.5; /* Améliore la lisibilité */
    letter-spacing: 1.2px;
    font-family: $font-family;
    color: $white;
}

.page {
    background-color: $primary-black;
    position: relative;
    z-index: 0;
    /* 
        .page est position: static; et z-index: auto; (valeur par défaut) 
        Par défaut, tous les éléments en CSS ont position: static;, y compris le <body>
        Il ne peut pas être déplacé avec top, left, right, bottom.
        Le z-index ne fonctionne pas sur static, sauf pour les éléments enfants avec une autre position.
        Si l'on veux que <body> soit manipulable avec z-index, il faut définir position: relative;
        Le contenu peut être cliquable(les liens, les champs de formulaire peuvent aussi être saisies) malgré la superposition 
        de la div réservée au burger menu navbar car .page n'est pas considérée comme étant en total arrière-plan
     */

    @media (max-width: 620px) { padding-top: 18.4rem; }
}

h1 {
    font-weight: 800;
    font-size: 7.2rem;

    @media (max-width: 1024px) { font-size: 5.6rem; }
    @media (max-width: 600px) { font-size: 4.8rem; }
}

h2 {
    font-weight: 800;
    font-size: 5.6rem;

    @media (max-width: 1024px) { font-size: 4.8rem; }
    @media (max-width: 600px) { font-size: 3.2rem; }
    @media (max-width: 401px) { font-size: 2.4rem; }
}

p {
    font-size: 1.8rem;

    @media (max-width: 600px) { font-size: 1.6rem; }
    @media (max-width: 401px) { font-size: 1.4rem; }
}

a {
    text-decoration: none !important;
    color: $white;
}

.button {
    outline: none !important;
    cursor: pointer;
    border-radius: 8px;
    padding: 1rem 1.6rem;
    color: $white;
    &--purple {
        background-color: $primary-purple;
        border: 2px solid $primary-purple;
    }
    &--transparent {
        background-color: transparent;
        border: 2px solid transparent;
    }
    &--border-transition {
        transition: border-color 0.5s;
        &:hover {
            border-color: $white;
        }
    }
    &--disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
        background-color: gray;
        border: 2px solid rgb(201, 179, 179);
        color: darkgray;
        
        &:hover {
            border-color: gray;
            background-color: gray;
        }
    }
}

ul, ol {
    list-style: none;
    padding: 0;
}

.field-error {
    color: rgb(252, 98, 98);
    font-size: 1.6rem;
    padding: 0.8rem;
    transition: color 0.4s;
}

.appear {
    display: block;
}

.disappear {
    color: transparent;
}

.hidden {
    display: none;
}