.sentry-test-button {
    position: absolute;
    bottom: 8rem;
    right: 2.4rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    border: none;
    background: #fc363a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.7;
    z-index: 10;

    &:hover {
        opacity: 1;
    }
}
